<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Mon blog</a>
      <div>
            <a class="btn btn-outline-info" href="{{ route('auth.register') }}">Inscription</a>
            <a class="btn btn-outline-info" href="{{ route('auth.login') }}">Connexion</a>
        </div>
    </div>
</nav>